<nav>
  <ul>
    <li><a href="/articles">All Articles</a></li>
    <li><a href="/my-articles">My Articles</a></li>
    <li><a href="/articles/new">New Article</a></li>
    <li>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>
